body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: auto;
    color: #473d3d;
    
  }
  
  header {
    background-color: #ccc6c6;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
    
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
  }
  
  ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #ccc6c6;
  }

  .tesla {
    padding: 10px 5px 5px 10px;
    border-radius: 1000px;
    text-align: center;
    color: antiquewhite;
  }

  img{
    width: 300px;
    height: 350px;
    
  }